:root {
  --main-title-color: #1a1a1a;
  --main-text-color: #aaaaaa;

  --column-count: 2;
  --column-gap-value: 24px;
  --row-gap-value: 32px;

  --breakpoint-xsmall: 360px; /* Для екранів менше 360px */
  --breakpoint-small: 576px; /* Для екранів менше 576px */
  --breakpoint-medium: 768px; /* Для екранів менше 768px */
  --breakpoint-large: 992px; /* Для екранів менше 992px */
  --breakpoint-xlarge: 1200px; /* Для екранів менше 1200px */
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul, ol, li{
  list-style: none;
}
img{
  width: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container{
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
  flex-grow: 1;
}

.title {
  color: var(--main-title-color);
  font-style: normal;
  font-weight: 400;

  &_h2 {
    font-size: 48px;
    line-height: 120.8%;

    @include medium {
      font-size: 38px;
    }
  }
  &_h3 {
    font-size: 32px;
    line-height: 112.5%;
  }
  &_h4 {
    font-size: 24px;
    line-height: 116.6%;
  }
}

.subtitle {
  color: var(--main-text-color);
  font-weight: 400;

  &_s1{
    font-size: 24px;
    line-height: 166%;
  }
  &_s2{
    font-size: 16px;
    line-height: 150%;
  }
}

.section-padding{
  padding: 120px 0;
  @include medium{
    padding: 60px 0;
  }
  @include small{
    padding: 40px 0;
  }
}

.card-box{
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);

  // --column-count: 2;
  // --column-gap-value: 24px;
  // --row-gap-value: 32px;

  column-gap: var(--column-gap-value);
  row-gap: var(--row-gap-value);
}

.bl1 {
  display: flex;

  &__left {
    width: 55%;
    margin: 0 auto;
    @include medium {
      width: 80%;
    }
  }

  &__img {
    margin: 0 auto;
  }

  &__right {
    width: 44%;
    padding: 0 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include medium {
      margin: 0 auto;
      width: 100%;
      margin-top: 20px;
    }
  }

  &__title {
  }

  &__subtitle {
    max-width: 305px;
    margin-top: 27px;
  }
}

.free-trial {
  @extend .section-padding;
  margin: 0 20px;

  &__container {
    max-width: 1200px;
    padding-top: 65px;
    padding-bottom: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 2px;
    background: #f2f2f2;
  }

  &__title {
    text-align: center;
  }

  &__list {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    // grid-template-columns: repeat(3, 1fr);
    gap: 203px;

    @include medium {
      gap: 100px;
      flex-wrap: wrap;
    }
    
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__list-img {
    width: 64px;
    height: 64px;
  }

  &__list-desc {
    margin-top: 22px;
    font-size: 12px;
    color: var(--main-title-color);
  }

  &__btn {
    margin-top: 70px;
    padding: 14px 24px;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #fff;
    border-radius: 2px;
    background: #46856e;
    border-color: transparent;
    cursor: pointer;
  }

  &__desc {
    margin-top: 26px;
    font-size: 12px;
    color: var(--main-text-color);
  }
}

.curd {
  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    max-width: 162px;
  }

  &__bottom {
    margin-top: 26px;
  }

  &__title {
  }

  &__subtitle {
    margin-top: 18px;
  }
}

.swiper-button-next::after, .swiper-button-next::before,
.swiper-button-prev::after, .swiper-button-prev::before {
  color: #f9f9f9;
}