/*
▮▮▯▯⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘   Imports   ⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘▯▯▮▮
*/
@import "./moduls/imports";
/*
▮▮▯▯⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘   hero   ⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘▯▯▮▮
*/

.hero {
  padding-top: 48px;

  @include medium {
    padding-top: 20px;
  }

  &_bg {
    width: 110%;
    margin-left: -5%;
  }

  &__container {
  }

  &__img-side {
  }

  &__text-side {
    padding: 82px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @include medium {
      display: block;
    }
  }

  &__title {
    min-width: 40%;
    max-width: 355px;
    margin-right: 136px;

    // margin-left: 55px;
    @include large {
      margin-right: 56px;
    }
    @include medium {
      margin-bottom: 30px;
      margin-right: 0;
    }
  }

  &__subtitle {
    max-width: 570px;
    flex-grow: 1;
  }
}
/*
▮▮▯▯⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘   rooms   ⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘▯▯▮▮
*/
.rooms {
  @extend .section-padding;

  &__container {
    padding: 0 32px;
  }

  &__list {
    --column-count: 2;
    --column-gap-value: 24px;
    --row-gap-value: 32px;

    @include small {
      --column-count: 1;
    }
  }

  &__list-item {
  }

  &__list-img {
  }

  &__list-title {
    margin-top: 9px;
  }
}
/*
▮▮▯▯⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘   world-brands   ⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘▯▯▮▮
*/
.world-brands {
  @extend .section-padding;

  &__container {
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
  }

  &__subtitle {
    margin-top: 27px;
  }

  &__bottom {
    margin-top: 125px;

    @include large {
      margin-top: 90px;
    }
    @include small {
      position: relative;
      height: 200px;
      width: 100%;
      margin-top: 60px;
      overflow: hidden;
    }
  }

  &__brands-img {    
    @include small {
      position: absolute;
      height: 100%;
      width: auto;

      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
  }
}
/*
▮▮▯▯⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘   about-us   ⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘▯▯▮▮
*/
.about-us {
  @extend .section-padding;

  @include medium {
    padding: 60px 0;
  }

  &__top {
    position: relative;
  }

  &__img-list {
    display: flex;
    width: 100%;
  }

  &__container {
  }

  &__bottom {
    margin-top: 71px;
  }

  &__title {
    max-width: 1077px;
  }

  &__subtitle {
    margin-top: 24px;

    color: #46856e;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
  }

  &__list {
    margin-top: 71px;

    --column-count: 3;
    --column-gap-value: 40px;
    --row-gap-value: 32px;
    gap: 40px;
    @include medium {
      --column-count: 2;
    }
    @include small {
      --column-count: 1;
    }
  }

  &__item {
  }
}

/*
▮▮▯▯⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘   reviews   ⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘▯▯▮▮
*/
.reviews {
  @extend .section-padding;
  margin-top: 120px;
  background: url(../img/homePage/reviews/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &__list {
    margin-left: 60px;
    @include small {
      margin-left: 20px;
    }
  }

  &__list-item:not(:last-child) {
    margin-bottom: 41px;
  }

  &__star-list {
    display: flex;
  }

  &__star-list-item {
  }

  &__list-text {
    color: #fff;
    font-size: 24px;
    line-height: 32px; /* 133.333% */
    margin-top: 14px;
  }

  &__list-img {
    width: 100px;
    margin-top: 8px;
  }
}
/*
▮▮▯▯⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘   we-make   ⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘▯▯▮▮
*/
.we-make {
  @extend .section-padding;
  margin-top: 120px;
  @include medium {
    margin-top: 100px;
  }
  &__container {
  }

  &__top {
    max-width: 882px;
    margin: 0 auto;
  }

  &__subtitle {
    font-size: 46px;
    line-height: 52px;
    @include medium {
      font-size: 30px;
    }
  }

  &__title {
    margin-top: 25px;
  }

  &__bottom {
    margin-top: 135px;
    @include small {
      margin-top: 100px;
    }
  }

  &__list {
  }
  &__list-item {
    display: flex;

    @include small {
      display: block;
    }
  }
  &__list-item:nth-child(2n) {
    flex-direction: row-reverse;
  }
  &__list-item:not(:last-child) {
    margin-bottom: 64px;
  }
}

/*
▮▮▯▯⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘   img-galery   ⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘▯▯▮▮
*/
.img-galery {
  // overflow: hidden;

  display: flex;
  overflow: hidden;

  &__img-list-item {
    width: 90%;
  }

  &__img-list-img {
    width: 100%;
  }
}
